# Reddit API credentials
# 1. Ve a https://www.reddit.com/prefs/apps
# 2. Clic en "Create App" → selecciona "script"
# 3. Pon nombre, descripción, redirect: http://localhost:8000
# 4. Copia los valores abajo

REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USERNAME=lionar0373839
REDDIT_PASSWORD=
REDDIT_USER_AGENT=script:my-client-bare:v1.0 (by /u/lionar0373839)
